@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#start {
  font-size: 30px;
}

.info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyText {
  font-size: 32px;
}

.timeText {
  animation-name: textshrink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes textshrink {
  from {
    font-size: 64px;
  }
  to {
    font-size: 32px;
  }
}
